
/* Global */ 


/* I use the shorthand property font in this case to set the font-size(15px), line-height(1.5), and, font-fam(Arial, Helvetica, sans-serif)  */
body {
    font: 15px/1.5 Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    background-color: whitesmoke;
}

/* 
    I set the margin to auto so there would be enough space on the left and right side when the screen is smaller. 
    I set the overflow property to hidden value incase something goes out of the container when using smaller screens. */

.container {
    width: 80%;
    margin: auto;
    overflow: hidden;
}

/* I don't want a margin and padding so I set them to 0.
   I don't want some styling on all uls so I set it to none. */
ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

/* I don't want the underline decoration on a links so I set it to none */
a {
    text-decoration: none;
}

/* I want the text to show in the middle so I set the value to center and gave it a black color. */

.home_button {
    text-align: center;
    color: black;
    margin-bottom: 50px;
}

/* I set the width and height of the home icon from fontawesome accordingly. */
.home_button img {
    width: 30px;
    height: 30px;
}

/* The text will change its color to maroon when you hover it with a font-weight set to bold */
.home_button a:hover {
    color: maroon;
    font-weight: bold;
}

/* All paragraphs are set to font-size of 18px and indented to 50px. I set the text to justify value to have an even sides.   */
p {
    font-size: 18px;
    text-indent: 50px;
    text-align: justify;
 }

 /* I don't like margins on all sides so I set it to zero.
    I set the font size to 10px and changed the text color to white.
    Aligned the text to the center and set its weight to bold for clarity.
    I changed the background color accordingly. */

 footer {
    margin-top: 0;
    font-size: 10px;
    color: white;
    text-align: center;
    font-weight: bold;
    background-color: rgba(11, 10, 10, 0.792);
 }

 /* I don't like margins on all side to I set it to zero. 
    I want some space at the top and bottom so I set its padding to 15px
    I want to see a lil bit of the border line so I set it to 1px solid black. */


 footer h2 {
    margin: 0;
    padding-top: 15px;
    padding-bottom: 15px;
    border: 1px solid black;
 }

/*--------------NAVIGATION-------------------- */

/* I want the height to adjust if the screen is smaller or the menu goes to the next line. */

header {
    background: rgba(13, 121, 145, 0.737);
    min-height: 70px;
    border-bottom: orange 10px solid;
}

header a {
    color: #ffffff;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 16px;
}

header li a:hover {
    color: orange;
 }

/* I want the menu to display next to each other so I set the display to inline and float it to left. */
header li {
    display: inline;
    float: left;
    padding: 0 12px 0 12px;
}

/* I set the medialinks to float right away from the menu */

header .medialinks {
    float: right;
}

/* I want some space at the top so I set the top margin to 22px and bottom to zero. */
header nav {
    margin-top: 22px;
    margin-bottom: 0;
}

/* I set the images to its size accordingly.
   I don't like margins and paddings around so I set it to zero. */
 .medialinks img {
    width: 30px;
    height: 30px;
    margin-top: 0;
    padding: 0;
 }
/* ----------------------MAIN CONTENT------- */

/* I set the profile pic size accordingly and added a margin at the top.
   I set its border radius to 3em to add some beauty and gave it a color of grey. */

 .aboutme img {
    width: 90px;
    height: 90px;
    margin-top: 1em;
   border: 5px solid rgba(255, 166, 0, 0.577);
   border-radius: 1em;
   
 }

 /* I set the margin top and bottom to zero */

 .aboutme h1 {
    margin-bottom: 0;
    margin-top: 0;
 }

 /* I don't like some margins so I set it to zero. */
 .aboutme h3 {
    margin: 0;
 }

 
/* -----------------------Entertainment------ */

/* I set some space in between the container and the footer. */

.entertainment_container {
    margin-bottom: 362px;
} 

/* I want some space at the top of the container so I set the top margin to 10px and added some
   paddings at the top and bottom.  */

 #entertainment {
    background-color:  rgba(13, 121, 145, 0.737);
    text-align: center;
    margin-top: 10px;
    padding: 15px 0;
    border: 1px solid black;
 }

 /* I want the lis to display next to each other so I set it to inline */
 .adventures ul li {
    display: inline;
    margin-left: 10px;
 }

 .adventures a {
    background-color: orange;
    color: black;
    font-size: 17px;
    font-weight: bold;
    border-radius: 6px;
    border: 1px solid black;
 }

 .adventures a:hover {
    color: maroon;
    font-weight: bold;
 }

 /* I set its image size accordingly */
 .adventures img {
    width: 30px;
    height: 15px;
 }

 /* Travels, Books and Photography */

 /* I set the column to 4 using the shorthand repeat and fraction for its unit. */

.image-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr); /* shorthand for setting columns */
    grid-gap: 1em;
}

/* I want a scroll bar if the content exceeds to its maximun height using overflow auto. */

.image {
    max-width: 100%;
    max-height: 80%;
    overflow: auto;
}

.image-grid > div {
    background-color: rgba(76, 128, 128, 0.341);
    padding: 1em;
    border: 1px solid black;
}

/* I set its image sizes accordingly */
.image img {
    width: 100%;
    height: 90%;
}

.image {
    font-weight: bold;
    text-align: center;
}

  /*---------------------Skills--------------- */

  .skills_page {
    height: 71vh;
  }

  .skills1 li {
   margin-bottom: 0;
  }

  /* I set its image sizes accordingly */
  .skills1 h1 img {
    width: 50px;
    height: 40px;
}

/* I set its image sizes accordingly */
.html img, .css img {
    width: 20px;
    height: 20px;
}

.skills1 p {
    margin-left: 55px;
}

.html, .css {
    margin-left: 100px;
}

/*----work page---- */

/* I set its image sizes accordingly */
.work1 img {
    width: 50px;
    height: 40px;
}

.companies {
    margin-top: 40px;
    margin-left: 60px;
}

.workpage {
    height: 71vh;
  }
/*----------------------contact page-------------- */

.title {
    font-size: 15px;
    font-weight: bold;
}

.label {
    font-weight: bold;
}

/* I set its image sizes accordingly */
.contacts a img {
    width: 20px;
    height: 20px;
}

input .email_field {
    background-color: whitesmoke;
}

h4 {
    margin-top: 0;
}

.contacts a:hover {
    color: maroon;
    font-weight: bold;
}

iframe {
    border: 3px solid rgba(13, 121, 145, 0.737);
    border-radius: 20px;
    
}


