body {
    /* font-family: Arial, Helvetica, sans-serif;
    font-size: 15px; 
    line-height: 1.5;  
    lineheight is the amount of space between each line 
    below is the shorthand property for the three above */
    font: 15px/1.5 Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    background-color: whitesmoke;
}

/* I want this to be responsive so i'm using percentage instead of px.
    I set the margin to auto so we have enough space to the left and right.
    If something goes out of the div I dont want a
    scroll bar here so im setting the overflow to a hidden value.
    Using percentage for responsive designing.
*/
.container {
    width: 80%;
    margin: auto;
    overflow: hidden;
}

/* by default unordered lists have paddings so I set the margin and padding to zero. */

ul {
    margin: 0; 
    padding: 0;
    list-style: none;
}
    
a { 
    text-decoration: none; 
}
    
.home_button { 
    text-align: center; 
    color: black; 
}
    
.home_button img {
    width: 20px; 
    height: 20px; 
}
    
.home_button a:hover {
    color: maroon;
    font-weight: bold;
}

p {
    font-size: 18px;
    text-indent: 50px;
    text-align: justify;
 }

 footer {
    margin: 0;
    font-size: 10px;
    color: white;
    background-color: rgba(11, 10, 10, 0.792);
    text-align: center;
    font-weight: bold;
 }

 footer h2 {
    margin: 0;
    padding-top: 15px;
    padding-bottom: 15px;
    border: 1px solid black;
 }


/* -------------------------------------END OF GLOBAL------------------------- */

/* NAVIGATION */

header {
    /* 
    I set a min height to 70px that way if 
    it's responsive and the screen is smaller
     or the menu goes into the next line we 
     want the height to adjust. */

    background: rgba(128, 0, 0, 0.737);
    min-height: 70px;
    border-bottom: orange 10px solid;
}

/* I use text-transform property to capitalise the menu text */
header a {
    color: #ffffff;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 16px;
}

header li a:hover {
    color: orange;
 }

/* I set the menu list to float left and the media links to float right.
I use shorthand propery padding to set values for the right and left paddings.
I set the display to inline so it would position next to each other.
*/

header li {
    display: inline;
    float: left;
    padding: 0 12px 0 12px;
}

header .medialinks {
    float: right;
}

/* moving the margin here a lil bit down */
header nav {
    margin-top: 22px;
    margin-bottom: 0;
}


header .medialinks {
    float: right;
}

 .medialinks img {
    width: 30px;
    height: 30px;
    margin-top: 0;
    padding: 0;
 }
/* ---------------MAIN CONTENT------------------ */

/* I modified the width and height of the profile pic to fit accordingly */
 .aboutme img {
    width: 90px;
    height: 90px;
    margin-top: 1em;
    border-radius: 3em;
   border: 5px solid maroon;
 }

 .aboutme h1 {
    margin-bottom: 0;
    margin-top: 0;
 }
 .aboutme h3 {
    margin: 0;
 }
/* -----------------------Entertainment------------------------- */
 #entertainment {
    background-color:  rgba(128, 0, 0, 0.737);
    text-align: center;
    margin-top: 10px;
    padding: 15px 0;
    border: 1px solid black;
 }

 .adventures ul li {
    display: inline;
    margin-left: 10px;   
 }

 .adventures a {
    background-color: orange;
    color: black;
    font-size: 17px;
    font-weight: black;
    border-radius: 6px;
    border: 1px solid black;
 }
 
 .adventures a:hover {
    color: maroon;
    font-weight: bold;
 }

 .adventures img {
    width: 30px;
    height: 15px;
 }
 
  /*----Skills page---- */

  .skills h1 {
    margin-top: 30px;
  }
  .skills1 img {
    width: 50px;
    height: 40px;
}

  ol {
   font-weight: bold;
  }

/*----work page---- */

    .work1 h1 {
        margin-top: 30px;
      }

    .work1 img {
        width: 50px;
        height: 40px;
    }
    
/*----contact page---- */

.title {
    font-size: 15px;
    font-weight: bold;
}

.label {
    font-weight: bold;
}

a img {
    width: 20px;
    height: 20px;
}

input .email_field {
    background-color: whitesmoke;
}

.contact_title_bar {
    color: white;
    font-size: 13px;
}

h4 {
    margin-top: 0;
}

/* Contacts */

.contacts a:hover {
    color: maroon;
    font-weight: bold;
}

/* Travels */

.wrapper {
    width: 80%;
    margin: auto;
}

.country {
    display: flex;
}

.country img {
    width: 10%;
    height: 10%;
    margin: 5px;
    border: 2px solid black;
}

.country p {
    margin-left: 30px;
}

