body {
    /* font-family: Arial, Helvetica, sans-serif;
    font-size: 15px; 
    line-height: 1.5;  
    lineheight is the amount of space between each line 
    below is the shorthand property for the three above */
    font: 15px/1.5 Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    background-color: whitesmoke;
}

/* I want this to be responsive to i dont want to
    set to Px but in percentage instead 
    I set the margin here to auto so
    there would be space to the left 
    if something goes out of the div I dont want a
    scroll bar here so im setting the overflow to a hidden value
    I want the content to be hidden */
.container {
    width: 80%;
    margin: auto;
    overflow: hidden;
}

@media screen and (min-width: 1400px)  { 
    .medialinks {
        float: none;
        /* display: block; */
    }
}


/* by default unordered lists have paddings so here i set the margin and padding to zero 
all uls are set to zero margin and o padding */

ul {
    margin: 0; 
    padding: 0; 
}
    
a { 
    text-decoration: none; 
}
    
.home_button { 
    text-align: center; 
    color: black; 
}
    
.home_button img {
    width: 20px; 
    height: 20px; 
}
    
.home_button a:hover {
    color: maroon;
    font-weight: bold;
}

p {
    font-size: 18px;
    text-indent: 50px;
    text-align: justify;
 }

 footer {
    margin: 0;
    font-size: 10px;
    color: white;
    background-color: rgba(11, 10, 10, 0.792);
    text-align: center;
    font-weight: bold;
 }

 footer h2 {
    margin: 0;
    padding-top: 15px;
    padding-bottom: 15px;
    border: 1px solid black;
 }


/* -------------------------------------END OF GLOBAL------------------------- */

/* HEADER */

header {
    background: rgba(128, 0, 0, 0.737);
    /* 
    here i set a min height that way if 
    it's responsive and the screen is smaller
     or the menu goes into the next line we 
     want the hight to adjust. So the minimum height is going to be 70px 
    setting the nav border to orange */
    min-height: 70px;
    border-bottom: orange 10px solid;
}

/* header a links 
setting the text decoration to none for the underline in the a links 
I set the text to transform by using the text transform property */
header a {
    color: #ffffff;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 16px;
}

/* setting some designs for the navigation links */
li a:hover {
    color: orange;
 }

/* here we set the list to float left */
/* here we set some padding on the left and right to have some space in bettween the links.
 so im using here the shorthand property padding */
 /* i set the dispaly to inline to it would position next to each other */
header li {
    display: inline;
    float: left;
    padding: 0 12px 0 12px;
}

header .medialinks {
    float: right;
}

/* moving the margin here a lil bit down */
header nav {
    margin-top: 22px;
    margin-bottom: 0;
}


header .medialinks {
    float: right;
}

/* Media icons */
 .medialinks img {
    width: 30px;
    height: 30px;
    margin-top: 0;
    padding: 0;
 }


/* ---------------MAIN CONTENT------------------ */
/* i set the min height. We want to be flexible everythign should be responsive
I dont want to put a fixed height so i'll put a min-height. We dont want the image to repeat here so I put a repeat*/
/* #main {
    min-height: 400px;
} */
/* set the widtht and height of the profile pic */
 .aboutme img {
    width: 90px;
    height: 90px;
    margin-top: 1em;
    border-radius: 3em;
   border: 5px solid maroon;
 }

 .aboutme h1 {
    margin-bottom: 0;
    margin-top: 0;
 }
 .aboutme h3 {
    margin: 0;
 }
/* -----------------------Entertainment------------------------- */
 #entertainment {
    background-color:  rgba(128, 0, 0, 0.737);
    text-align: center;
    /* padding: 10px 80px;
    min-height: 60px; */
    margin-top: 10px;
    padding: 15px 0;
 }

 .adventures {
    display: inline-block;
 }

 .adventures a{
    background-color: orange;
    color: black;
    font-size: 17px;
    font-weight: black;
    border-radius: 6px;
    border: 1px solid black;
    padding: 5px 10px;
    margin: 0 15px 0; 
 }

 /* Boxes */


 
/* everything is responsive so it's gonna be percentage */

  /*----Skills page---- */

  .skills h1 {
    margin-top: 30px;
  }
  .skills1 img {
    height: 30px;
}

  ol {
   font-weight: bold;
  }

/*----work page---- */
    .work h1 {
        margin-top: 30px;
      }
    
/*----contact page---- */

    .title {
        font-size: 15px;
        font-weight: bold;
    }

    .label {
        font-weight: bold;
    }

    a img {
        width: 20px;
        height: 20px;
    }

    input .email_field {
        background-color: whitesmoke;
    }

    .contact_title_bar {
        color: white;
        font-size: 13px;
    }

    h4 {
        margin-top: 0;
    }

    /* Contacts */

    .contacts a:hover {
        color: maroon;
        font-weight: bold;
    }


